EXPO_PUBLIC_SUPABASE_URL=https://cdweyragwwhyaxdoqufn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkd2V5cmFnd3doeWF4ZG9xdWZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNzI1OTMsImV4cCI6MjA5Mjc0ODU5M30.GLZpPwR6CaGp_DxMDlTAonVPfFFQCj-ydKH5UrHEg30
